<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Monitoring Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🚀 Server Monitoring Dashboard</h1>
    <div class="dashboard">

        <div class="card">
            <h2>CPU</h2>
            <p class="percentage" id="cpu-value">{{ cpu }}%</p>
            <div class="progress">
                <div class="progress-fill" id="cpu-bar" style="width:{{ cpu }}%;background:{{ cpu_color }};"> </div>
            </div>
            <div class="info">
                <p>Cores: {{ cpu_count }}</p>
                <p id="cpu-freq">Frequency: {{ cpu_freq }} GHz</p>
            </div>
        </div>

        <div class="card">
            <h2>RAM</h2>
            <p class="percentage" id="memory-value">{{ memory }}%</p>
            <div class="progress">
                <div class="progress-fill" id="memory-bar" style="width:{{ memory }}%;background:{{ memory_color }};">
                </div>
            </div>
            <div class="info">
                <p id="memory-total">Total: {{ total_ram }} GB</p>
                <p id="memory-used">Used: {{ used_ram }} GB</p>
                <p id="memory-free">Available: {{ available_ram }} GB</p>
            </div>
        </div>

        <div class="card">
            <h2>Disk</h2>
            <p class="percentage" id="disk-value">{{ disk }}%</p>
            <div class="progress">
                <div class="progress-fill" id="disk-bar" style="width:{{ disk }}%;background:{{ disk_color }};"> </div>
            </div>
            <div class="info">
                <p id="disk-total">Total: {{ total_disk }} GB</p>
                <p id="disk-used">Used: {{ used_disk }} GB</p>
                <p id="disk-free">Available: {{ free_disk }} GB</p>
            </div>
        </div>

        <div class="card">
            <h2>Network</h2>
            <p id="sent-value">Sent: {{ sent }} GB</p>
            <p id="recv-value">Received: {{ recv }} GB</p>
        </div>

        <div class="card">
            <h2>System Uptime</h2>
            <p id="days">{{ days }} Days</p>
            <p id="hours">{{ hours }} Hours</p>
            <p id="minutes">{{ minutes }} Minutes</p>
            <p id="seconds">{{ seconds }} Seconds</p>
        </div>
        <div class="card">

            <h2>Top Processes</h2>

            <table>

                <thead>

                    <tr>
                        <th>Name</th>
                        <th>CPU%</th>
                        <th>RAM (MB)</th>
                    </tr>

                </thead>

                <tbody id="processes">

                    {% for process in processes %}

                    <tr>
                        <td>{{ process.name }}</td>
                        <td>{{ process.cpu }}</td>
                        <td>{{ process.memory }}</td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>